# Set default behavior to automatically normalize line endings
* text=auto eol=lf

# Explicitly declare text files to ensure they use LF
*.ts text eol=lf
*.js text eol=lf
*.json text eol=lf
*.md text eol=lf 